sectio.nav
  h1 RAFAEL MELGES
  h3.span.loader
    span.m J
    span.m A
    span.m V
    span.m A
    span.m &nbsp;
    span.m D
    span.m E
    span.m V
    span.m E
    span.m L
    span.m O
    span.m L
    span.m O
    span.m P
    span.m E
    span.m R
  .nav-container
    a.nav-tab(href="#tab-svelte") SOBRE
    a.nav-tab(href="#tab-esbuild") SKILLS
    a.nav-tab(href="#tab-next") PORTFOLIO
    
    span.nav-tab-slider
main.main
  section#tab-svelte.slider
    h1 SOBRE
    h2 Sou apaixonado por tecnologia
  section#tab-esbuild.slider
    h1 SKILLS
    h2 Resolução de Problemas
  section#tab-next.slider
    h1 PORTFOLIO
    a(href='https://github.com/Melges2607') Link para o GitHub
    
  
canvas.background
